/*
 * 
 * t-b-d.org
 * 
 *
 *
 */


html, body {
	height:100%;
}

body {
	margin: 0;
	padding:0;
	font-family: Monaco, 'DejaVuSansMonoBook', monospace;
	color: #fff;
	font-size: 14px;
	background: #f2f2f2;
}

input {
	font-family: Monaco, 'DejaVuSansMonoBook', monospace;
	background:transparent;
	border:none;
	color:#fff;
	-webkit-tap-highlight-color:none;
	outline:none;
	font-size: 14px;
	margin:0;
	padding: 0;

}

ul, ol {
	list-style-type: none;
	margin:0;
	padding:0;
}

article a, p, label, input, ul {
	margin: 5px 0 5px 0;
	padding:0;
}

/*
 ************************** Framework 
 */



/*
 **************** Dimension
 */



/*
 *********** Margin
 */

.mA {margin: 0 auto}

.m0 {margin:0px}

.mt10 {margin-top:10px}
.mt19 {margin-top:19px}
.mt20 {margin-top:20px}
.mt30 {margin-top:30px}

.ml1 {margin-left:1px}
.ml4 {margin-left:4px}

.mr1 {margin-right:1px}
.mr10 {margin-right:10px}


/*
 *********** Padding
 */

/*.pa1 {
	padding:1px;
}*/

.pa10 {padding: 10px}
.pa20 {padding: 20px}


.pt0 {padding-top:0px}
.pt1 {padding-top:1px}
.pt2 {padding-top:2px}
.pt4 {padding-top:4px}
.pt5 {padding-top:5px}
.pt10 {padding-top:10px}
.pt14 {padding-top:14px}

.pl10 {padding-left:10px}

.pb1 {padding-bottom:1px}
.pb3 {padding-bottom:3px}
.pb4 {padding-bottom:4px}
.pb14 {padding-bottom:14px}


.pr3 {padding-right:3px}
.pr10 {padding-right:10px}
.pr40 {padding-right:40px}



 /*
 *********** Height
 */


.h1 {height:1px}
.h4 {height:4px}
.h20 {height:20px}
.h21 {height:21px}
.h22 {height:22px}
.h500 {height:500px}

.h80p {height:80%}
.h100p {height:100%}


.minH360 {min-height:360px}

 /*
 *********** Width
 */
.w2 {width:2px}
.w249 {width:249px}
.minW500 	{min-width:700px}
.maxW700 	{max-width:700px}
.maxW800 	{max-width:800px}
.w50p 		{width:50%}
.w80p 		{width:80%}
.w100p 		{width:100%}

 /*
 *********** Border Radius
 */
.br5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.br5500 {
	-webkit-border-radius:5px 5px 0 0 / 5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0 / 5px 5px 0 0;
	border-radius:5px 5px 0 0 / 5px 5px 0 0;
}

.br4400 {
	-webkit-border-radius:4px 4px 0 0 / 4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0 / 4px 4px 0 0;
	border-radius:4px 4px 0 0 / 4px 4px 0 0;
}

.br0044 {
	-webkit-border-radius:0 0 4px 4px / 0 0 4px 4px ;
	-moz-border-radius:0 0 4px 4px / 0 0 4px 4px ;
	border-radius:0 0 4px 4px / 0 0 4px 4px ;
}


/*
 **************** Position
 */
.absolute {position: absolute;}
.relative {position:relative}
.fixed {position:fixed}
.z1 {z-index:0}
.z10 {z-index:10}
.z20 {z-index:20}
.tn1 {top:-1px}
.t0 {top:0}
.t50 {top:50px}
.r0 {right:0}
.r20 {right:20px}
.l2 {left:2px}
.l20 {left:20px}
/*.b10 {bottom:10px;}*/

.ib {display:inline-block}
/*.block {display:block}*/

@media (min-width: 1300px) {
	.r20 {right:50px}
	.l20 {left:50px}
}

@media (min-width: 1500px) {
	.r20 {right:100px}
	.l20 {left:100px}
}

@media (min-width: 1600px) {
	.r20 {right:150px}
	.l20 {left:150px}
}

@media (min-width: 1800px) {
	.r20 {right:200px}
	.l20 {left:200px}
}





/*
 *********** Table
 */

.table {
	display:table;
}

.row {
	display:table-row;
}

.cell {
	display:table-cell;
	vertical-align:middle;
}

.vaT {
	vertical-align:top;
}

/*
 *********** Overflow
 */
.o {overflow:hidden}
.oys {overflow-y:scroll}


.nTW {text-wrap:none; white-space: nowrap;text-overflow: clip;}


.fl{float:left}
.fr{float:right}
/*
 **************** Colors
 */

.c1 {color:#5d5d5d}
.c2 {color:#3f3f3f}
.c3 {color:#2a2a2a}

 /*
 *********** Background Color
 */

.bFF {background: #fff}
.bF7 {background: #f7f7f7}
.bA2 {background: #a2a2a2}
.bAF {background: #afafaf}

.b6A {background: #6a6a6a}
.b95-h:hover {background: #959595; box-shadow: 0 1px 0 #666 inset;}


.b0a80 {
	background:	#000;
	background: rgba(0,0,0,.60);
}

.b0a25 {
	background: rgba(0, 0, 0, .25);
	background: -webkit-linear-gradient(270deg, rgba(0,0,0,0.25) 27px,rgba(0,0,0,0.5) 27px,rgba(0,0,0,0.8) 27px, rgba(0,0,0,0.8) 100%);
	background: -moz-linear-gradient(270deg, rgba(0,0,0,0.25) 27px,rgba(0,0,0,0.5) 27px,rgba(0,0,0,0.8) 27px, rgba(0,0,0,0.8) 100%);
	background: -o-linear-gradient(270deg, rgba(0,0,0,0.25) 27px,rgba(0,0,0,0.5) 27px,rgba(0,0,0,0.8) 27px, rgba(0,0,0,0.8) 100%);
	background: -ms-linear-gradient(270deg, rgba(0,0,0,0.25) 27px,rgba(0,0,0,0.5) 27px,rgba(0,0,0,0.8) 27px, rgba(0,0,0,0.8) 100%);
	background: linear-gradient(270deg, rgba(0,0,0,0.25) 27px,rgba(0,0,0,0.5) 27px,rgba(0,0,0,0.8) 27px, rgba(0,0,0,0.8) 100%);
}

.bE5 {
	background: #e5e5e5;
	background: -webkit-linear-gradient(90deg , #b2b2b2 0%, #e5e5e5 100%);
	background: -moz-linear-gradient(90deg , #b2b2b2 0%, #e5e5e5 100%);
	background: -o-linear-gradient(90deg , #b2b2b2 0%, #e5e5e5 100%);
	background: -ms-linear-gradient(90deg , #b2b2b2 0%, #e5e5e5 100%);
	background: linear-gradient(90deg , #b2b2b2 0%, #e5e5e5 100%);
}
/*
*********** Border 
*/
.ba1 {border:1px solid #fff}
 .ba666 {border:1px solid #666}

.bt666 {border-top:1px solid #666}
.br666 {border-right:1px solid #666}

.btn {border-top:none}

 /*
 *********** Box Shadow
 */
 .bs1 {
 	box-shadow:0 0 10px 0 #000;
 }
 
/* .bs2 {
 	box-shadow:0 -1px 0px 0 #bfbfbf;
 }

 .bs3 {
 	box-shadow:0 -1px 0px 0 #bfbfbf inset;
 }*/

.bs4 {
	 box-shadow: 0 1px 0 #666 inset
}
/*
 **************** Type
 */

h1,h2,h3,h4,h5,h6 {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.h4 {font-size:10px;}

.tac{text-align:center;}

.p1 {
	font: 12px 'DejaVuSansMonoBook', Monaco, 'Lucida Console', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 0 #fff;
	color: #626262;

}

.p2 {
	font-size: 11px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	color: #3f3f3f;	
}

.p3 {
	font-size: 11px;
}

.blog h2, .blog .p3, .blog p, .blog a {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	max-width:540px;
}

.blog h2 {
	font:20px;
	font-weight:bold;
}

.blog a {
	color: #2b3ba3;
}

a {color: #cacaff;}
.un {text-decoration: none;}

/*.sh1 {text-shadow: 0 1px 0 #fff}*/

/************ header ************/
.trickhide {
    position: relative
}

.trickhide:before {
    content: '';
    height:1px;
    width:249px;
    background-color: #b3b3b3;
    position: absolute;
    top:-1px;
    left:0;
}

.hide {display:none}

/*
div:not(:target) {
	z-index:1;
}
div:target {
	z-index:2;
}*/

/*
div:not(:target) {
	display:block;
}

div:target {
	display:block;
}*/



/************ sp ************/

/*.footer-content {
	margin: 0 auto;
}*/

/*footer {*/
	/*display: table;*/
	/*margin: 0 auto;
	width: 100%;
	padding: 0 10%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}*/

.sp {
	/*display: block;*/
	min-width: 141px;
	width: 141px;
	/*padding: 0 10%;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.sp li {
	display: block;
	width: 141px;
	/*height: 80px;*/
	min-height: 70px;
}

.sp a {
	display: block;
	width: 141px;
	min-height: 70px;
	overflow: hidden;
	text-indent: -999px;
}

/*@media (max-width:572px) {
	.w572 {
		display: none;
	}
}
*/
	
@media (min-width:1180px) {
	.z1 {
		z-index:100;	
	}
}

/*.sp.b10 {
	top:70px;
	right:50px;
	padding:0;
	margin:0;
	width:141px;
	display: block;

}*/

 .sp .sponsor-about {
	margin: 0 auto;
	padding:0;
	display: block;
	font-size:14px;
	width: 141px;
	height: 43px;
	color:#000;
	text-align:right;
}

.sp .sponsor-menmo {
	/*height:41px;*/
	background:url(../images/sponsor-menmo.png) no-repeat center center;
}

.sp .sponsor-me {
	/*height:35px;*/
	background:url(../images/sponsor-media-evolution.png) no-repeat center center;
}

.sp .sponsor-ff {
	/*margin-top:-42px;*/
	height:90px;
	background:url(../images/sponsor-flatfrog.png) no-repeat center center;
}

.sp .sponsor-catera {
	margin-top:-7px;
	height:80px;
	background:url(../images/sponsor-catera.png) no-repeat center center;
}

.sp .sponsor-carlsberg {
	margin-top:7px;
	height:90px;
	background:url(../images/sponsor-carlsberg.png) no-repeat center center;
}

.sp .sponsor-martin {
	/*margin-top:-4px;*/
	/*height:43px;*/
	background:url(../images/sponsor-martin.png) no-repeat center center;
}

.sp .sponsor-inuse {
	margin-top:10px;
	/*height:50px;*/
	background: url(../images/sponsor-inuse.png) no-repeat center center;	
}

.sp .sponsor-pgross {
	/*margin-top:-10px;*/
	/*margin-top:-4px;*/
	/*height:74px;*/
	background: url(../images/sponsor-pgross.png) no-repeat center center;	
}

.sp .sponsor-skane {
	margin-top:10px;
	/*height:60px;*/
	background:url(../images/sponsor-skane.png) no-repeat bottom center;
}


/*
 **************** Challenges
 */

.challenges-neo4j, .challenges-flatfrog, .challenges-tunaspot, .challenges-inuse {
	height:49px;
	display:block;
	overflow: hidden;
	text-indent: -999px;
}

.challenges-neo4j {
	width:200px;
	background: url(../images/challenges-neo4j.png) no-repeat center center;
}

.challenges-flatfrog {
	width:147px;
	height:80px;
	background: url(../images/challenges-flatfrog.png) no-repeat center left;
}

.challenges-tunaspot {
	width:83px;
	height:80px;
	background: url(../images/challenges-tunaspot.png) no-repeat center left;
}

.challenges-inuse {
	width:132px;
	height:50px;
	background: url(../images/challenges-inuse.png) no-repeat center center;	
}

/*
 **************** Scroller
 */

/* Need to do a js hack for moz */

::-webkit-scrollbar {
    width: 8px;
    background:rgba(155,155,155,0.2);
    /*background:pink;*/
}

::-webkit-scrollbar-track {
	/*padding:3px;*/
	margin:2px;
    /*background:rgba(155,155,155,0.2);*/
    /*border-radius:4px;*/
}

::-webkit-scrollbar-thumb {
    border-radius:4px;
    background:#666;
    /*background:#333;*/
}
