---
Article: How can you help?
---

<article>
	<h1>How can you help?</h1>
  <p>TBD is a collaborative effort so there are a number of things you can do to foster this ecosystem:
	</p>
	<ul>
	  <li><b>Bounty</b> - if you want to get bright people to hack and look at a problem you want to see solved, pitch a problem, and prepare a bounty for working on it. A great example for this is <a href="http://www.kaggle.com">Kaggle</a></li>
	  <li><b>Your Time</b> - to see something solved or worked on, be prepared to invest these days to make things count. Be there, and be present. Have fun.</li>
	  <li><b>Support</b> - covering the cost is highly appreciated (e.g. food, drink, infrastructure against invoices to your organization). We will list you as a sponsor, and you get bragging rights.</li>
	  <li><b>Talk</b> - in order to educate others about technology you care about, prepare a short talk about cool stuff.</li>
	  <li><b><a href="https://github.com/T-B-D/t-b-d.github.com">Fork this site on GIThub</a></b> - help us with the website and make it count!</li>
	</ul>
</article>
