<!DOCTYPE html>
<html dir="ltr" lang="en-US"> 
<head>
    <meta charset="UTF-8" />
    <title>{% if page.title %}{{ page.title }} — {% endif %}TBD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">

    <meta property="og:title" content="TBD - To Be Done" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://t-b-d.org/" />
    <meta property="og:description" content="TBD’s hackathon is about making it happen - build an app, a product, a company over a weekend. The hottest startup event in Malmö!" />

    <!--[if lt IE 9]><style type="text/css">#container {display:none;}</style><![endif]-->
    <!--[if IE]><style type="text/css">.b0a80 {background: #000;background: rgba(0,0,0,.9);}</style><![endif]-->
 <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28196480-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body id="body">
    <!--[if lt IE 9]><h1 style="margin:50px; color:#222; font-size:20px;">Hi there! This site is not for people with old web browsers. Please try again.</h1><![endif]-->
    <div id="container" class="table h100p w100p fixed z20 container">
        <div class="cell w100p">
            <div class="mA w80p maxW800 br5 pt1 pb1 br1 b0a25 bs1 relative">
                
                <div id="blog" class="">
                    <header class="br5500 ml1 mr1">
                        <div class="bE5 br4400 tac">
                            <h1 class="p1 pt5 pb4">blog — TBD</h1>
                        </div>
                    </header>
                    <div id="blogTabMenu" class="h21 bA2 bs2 brt bs4 relative">
                        <div class="table absolute h20">
                            <div class="cell w2 b bb pt2 tac b95-h p2 sh1 un"></div>
                            <a href="" class="trickhide cell bs3 w249 b bb pt2 p2 sh1 un tac bAF ba666 btn br0044">blog</a>
                            <a id="goToInfo" href="#" class="cell w249 b bb pt2 tac br666 b95-h p2 sh1 un">home - t-b-d.org</a>
                        </div>
                    </div>
                    <div class="h1 bAF"></div>
                    <div class="h1 b6A"></div>
                    <div class="bFF br0044 ml1 mr1">
                    <!-- Add pr3 to get webkit scroll bar padding correct, can't be used in moz -->
                        <div class="bb blog oys h500 br0044 pa20 c3 pt0">
                            <article class="bb pa20">
                                <img class="" src="/images/blog-winner.jpg">
                                <h2 class="mt10">And the Winner is... Team Augumentary</h2>
                                <p class="p3">Published: 23:30 12 Feb 2012</p>
                                <p>With Team Youtify and Team Everymote tied at 2nd place.</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                            <div class="ma0 m0"><object id="bplayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="460" height="427"><embed name="bplayer" src="http://static.bambuser.com/r/player.swf?vid=2363359" type="application/x-shockwave-flash" width="460" height="427" allowfullscreen="true" allowscriptaccess="always" wmode="opaque"></embed><param name="movie" value="http://static.bambuser.com/r/player.swf?vid=2363359"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param></object></div>
                                <h2 class="">Live from Demo Presentation</h2>
                                <p class="p3">Published: 17:42 12 Feb 2012</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-ui.jpg">
                                <h2 class="mt10">Team GUI vs. TUI</h2>
                                <p class="p3">Published: 11:56 12 Feb 2012</p>
                                <p>Exploring the usability of Graphical User Interfaces compared to Text-based User Interfaces.</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-youtify.jpg">
                                <h2 class="mt10">Team Youtify</h2>
                                <p class="p3">Published: 11:20 12 Feb 2012</p>
                                <p>Team Youtify are building a <a href="http://www.youtify.com/">music player</a> that streams music from different sources. During the weekend they are going to build a SoundCloud backend.</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-neo4j.jpg">
                                <h2 class="mt10">Node is everywhere</h2>
                                <p class="p3">Published: 23:47 11 Feb 2012</p>
                                <p>Everyone is using it, old school Java developers as well as front-end über kids. As <a href="http://iamsim.me/">Simon Ljungberg</a> from Team Starcraft explains: <cite>"At a hackathon you hack what's cool"</cite>. Other technologies in use are PHP, .Net, SMS, Neo4j, MongoDB, a lot of WebSockets, PhoneGap, HTML5, jQuery and Objective C.</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-hookup.jpg">
                                <h2 class="mt10">Team Hacker/Business/Hotell Hookup </h2>
                                <p class="p3">Published: 22:37 11 Feb 2012</p>
                                <p>Traveling to another country? Don't know anyone at the destination? How about a service that connects you with like-minded travelers?</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-sharks.jpg">
                                <h2 class="mt10">Sharks!</h2>
                                <p class="p3">Published: 21:37 11 Feb 2012</p>
                                <p>Wherever there are pirates there are sharks. Tunaspot bringing a remote controlled flying shark as bounty.</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-everymote.jpg">
                                <h2 class="mt10">Team Everymote</h2>
                                <p class="p3">Published: 20:37 11 Feb 2012</p>
                                <p>Imagine never getting home to a dark house. Team <a href="http://www.everymote.com/">Everymote</a> addresses this by building a web connected remote that adjusts to where you are.</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-starcraft.jpg">
                                <h2 class="mt10">Team Starcraft</h2>
                                <p class="p3">Published: 17:26 11 Feb 2012</p>
                                <p>The team is building a support platform for the Starcraft 2 community. The goal is to help content producers reach their audience and for them to support themselves through different services like Flattr, Kickstarter and PayPal.</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-coffee.jpg">
                                <h2 class="mt10">Team Calle</h2>
                                <p class="p3">Published: 16:14 11 Feb 2012</p>
                                <p>Djäkne Coffee Bar has given away 101 coffees during the hackathon. Calle built a <a href="http://m.djakne.se/hackathon/">web service</a> to update this in real-time.</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-miljoparkering.jpg">
                                <h2 class="mt10">Team Miljöparkering</h2>
                                <p class="p3">Published: 16:09 11 Feb 2012</p>
                                <p>Integrating SMS to their car parking service, <a href="http://www.miljoparkering.se/">miljöparkering.se</a>.</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-tunaspot.jpg">
                                <h2 class="mt10">Team Tunaspot</h2>
                                <p class="p3">Published: 15:18 11 Feb 2012</p>
                                <p>Secret development of their <a href="http://www.tunaspot.com/">location based music service</a>.</p>
                            </article>
                            <hr>
                            <article class="bb pa20">
                                <img class="" src="/images/blog-augumentary.jpg">
                                <h2 class="mt10">Team Augumentary</h2>
                                <p class="p3">Published: 15:12 11 Feb 2012</p>
                                <p>Helps documentary filmmaker Simon Klose develop a
                                way to remotely control embedded links in the upcoming film <i>TPB AFK:
                                The Pirate Bay Away From Keyboard</i>.</p>
                            </article>
                            <hr>
                        </div>
                    </div>
                </div>



                <div id="info" class="hide">
                    <header class="br5500 ml1 mr1">
                        <div class="bE5 br4400 tac">
                            <h1 id="terminalHeading" class="p1 pt5 pb4">{% if page.title %} {{ page.title }} — {% endif %} TBD<!--  — 86x24 --></h1>
                        </div>
                        <!-- <div class="h1 b6A br4400"></div> -->
                    </header>
                    <div id="terminalTabMenu" class="h21 bA2 bs2 brt bs4 relative">
                        <div class="table absolute h20">
                            <div class="cell w2 b bb pt2 tac b95-h p2 sh1 un"></div>
                            <a id="goToBlog" href="" class="cell w249 b bb pt2 tac b95-h p2 sh1 un">blog</a>
                            <a href="" class="trickhide cell bs3 w249 b bb pt2 p2 sh1 un tac bAF ba666 btn br0044">home - t-b-d.org</a>
                        </div>
                    </div>
                    <div class="h1 bAF"></div>
                    <div class="h1 b6A"></div>
                    <div class="b0a80 br0044 ml1 mr1">
                    <!-- Add pr3 to get webkit scroll bar padding correct, can't be used in moz -->
                        <article id="terminal" class="bb oys h500 br0044 pa20 pt0">
                            <hgroup class="mt10">
                                <h1>TBD</h1>
                                <h2>Solve Real Problems, Win Real Prizes</h2>
                                <h3>Feb 10-12, 2012, Djäkne Kaffebar, Malmö</h3>
                            </hgroup>
                            {{ content }}
                            <div id="output"></div>                       
                            <div>
                                <label id="commandInputLabel" class="ib" for="commandInput">t-b-d.org:~ {{ page.title }}$</label> <input id="commandInput" class="" type="text" autofocus>
                            </div>
                        </article>
    <!--                <div class="h4 br0044 b0a80 ml1 mr1">
                            <div class="fr h100p" style="width: 10px; background:magenta"></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>                    
   
    <div class="table h100p fixed z10 z1 l20">
        <div class="cell sp">
            <div class="bs1 ba1 pa10">
                <h4 class="block h4 tac c1 pt4 pb14">Sponsors</h4>
                <ul class="minH360">
                    <li><a class="sponsor-ff" href="http://www.FlatFrog.com/">FlatFrog</a></li>
                    <li><a class="sponsor-carlsberg" href="http://www.carlsberg.se/">Carlsberg</a></li>
                    <li><a class="sponsor-catera" href="http://www.catera.se/">Cantera&trade; Kantin &amp; Kalas</a></li>
                    <li><a class="sponsor-inuse" href="http://www.inuse.se/">Inuse</a></li>
                    <!-- <li><a class="sponsor-me" href="http://mediaevolution.se/">Media Evolution</a></li>
                    <li><a class="sponsor-menmo" href="http://menmo.se/">Menmo</a></li>
                    <li><a class="sponsor-skane" href="http://www.skane.se/">Region Skåne</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="table h100p fixed z10 z1 r20">
        <div class="cell sp">
            <div class="bs1 ba1 pa10">
                <h4 class="block h4 tac c1 pt4 pb14">Sponsors</h4>
                <ul class="minH360">
                    <!-- <li><a class="sponsor-ff" href="http://www.FlatFrog.com/">FlatFrog</a></li>
                    <li><a class="sponsor-carlsberg" href="http://www.carlsberg.se/">Carlsberg</a></li>
                    <li><a class="sponsor-catera" href="http://www.catera.se/">Cantera&trade; Kantin &amp; Kalas</a></li>
                    <li><a class="sponsor-martin" href="http://www.martinolsson.se/">Martin Olsson</a></li> -->
                    <li><a class="sponsor-martin" href="http://www.martinolsson.se/">Martin Olsson</a></li>
                    <li><a class="sponsor-me" href="http://mediaevolution.se/">Media Evolution</a></li>
                    <li><a class="sponsor-menmo" href="http://menmo.se/">Menmo</a></li>
                    <li><a class="sponsor-pgross" href="http://www.pgross.se/">P Gross</a></li>
                    <li><a class="sponsor-skane" href="http://www.skane.se/">Region Skåne</a></li>
                </ul>
            </div>
        </div>
    </div> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/js/output.js"></script>
<script src="/js/tbd.js"></script>
</body>
</html>