<!DOCTYPE html>
<html dir="ltr" lang="en-US"> 
<head>
    <meta charset="UTF-8" />
    <title>{% if page.title %}{{ page.title }} — {% endif %}TBD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 9]><style type="text/css">#container {display:none;}</style><![endif]-->
    <!--[if IE]><style type="text/css">.b0a80 {background: #000;background: rgba(0,0,0,.9);}</style><![endif]-->
 <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28196480-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body id="body">
    <!--[if lt IE 9]><h1 style="margin:50px; color:#222; font-size:20px;">Hi there! This site is not for people with old web browsers. Please try again.</h1><![endif]-->
    <div id="container" class="table h100p w100p fixed z20 container">
        <div class="cell w100p">
            <div class="mA w80p maxW800 br5 pt1 pb1 br1 b0a25 bs1 ">
                <header class="br5500 ml1 mr1">
                    <div class="bE5 br4400 tac">
                        <h1 id="terminalHeading" class="p1 pt4 pb3">{% if page.title %} {{ page.title }} — {% endif %} TBD<!--  — 86x24 --></h1>
                    </div>
                    <div class="h1 b6A br4400"></div>
                </header>
                <div class="b0a80 br0044 ml1 mr1">
                <!-- Add pr3 to get webkit scroll bar padding correct, can't be used in moz -->
                    <article id="terminal" class="oys h500 br0044 pa20 pt0">
                        <hgroup class="mt10">
                            <h1>TBD</h1>
                            <h2>Solve Real Problems, Win Real Prizes</h2>
                            <h3>Feb 10-12, 2012, Djäkne Kaffebar, Malmö</h3>
                        </hgroup>
                        {{ content }}
                        <div id="output"></div>                       
                        <div>
                            <label id="commandInputLabel" class="ib" for="commandInput">t-b-d.org:~ {{ page.title }}$</label> <input id="commandInput" class="" type="text" autofocus>
                        </div>
                    </article>
<!--                <div class="h4 br0044 b0a80 ml1 mr1">
                        <div class="fr h100p" style="width: 10px; background:magenta"></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>                    
   
    <div class="table h100p fixed z10 l20">
        <div class="cell sp">
            <div class="bs1 ba1 pa10">
                <h4 class="block h4 tac c1 pt4 pb14">Sponsors</h4>
                <ul class="minH360">
                    <li><a class="sponsor-ff" href="http://www.FlatFrog.com/">FlatFrog</a></li>
                    <li><a class="sponsor-carlsberg" href="http://www.carlsberg.se/">Carlsberg</a></li>
                    <li><a class="sponsor-catera" href="http://www.catera.se/">Cantera&trade; Kantin &amp; Kalas</a></li>
                    <li><a class="sponsor-inuse" href="http://www.inuse.se/">Inuse</a></li>
                    <!-- <li><a class="sponsor-me" href="http://mediaevolution.se/">Media Evolution</a></li>
                    <li><a class="sponsor-menmo" href="http://menmo.se/">Menmo</a></li>
                    <li><a class="sponsor-skane" href="http://www.skane.se/">Region Skåne</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="table h100p fixed z10 r20">
        <div class="cell sp">
            <div class="bs1 ba1 pa10">
                <h4 class="block h4 tac c1 pt4 pb14">Sponsors</h4>
                <ul class="minH360">
                    <!-- <li><a class="sponsor-ff" href="http://www.FlatFrog.com/">FlatFrog</a></li>
                    <li><a class="sponsor-carlsberg" href="http://www.carlsberg.se/">Carlsberg</a></li>
                    <li><a class="sponsor-catera" href="http://www.catera.se/">Cantera&trade; Kantin &amp; Kalas</a></li>
                    <li><a class="sponsor-martin" href="http://www.martinolsson.se/">Martin Olsson</a></li> -->
                    <li><a class="sponsor-martin" href="http://www.martinolsson.se/">Martin Olsson</a></li>
                    <li><a class="sponsor-me" href="http://mediaevolution.se/">Media Evolution</a></li>
                    <li><a class="sponsor-menmo" href="http://menmo.se/">Menmo</a></li>
                    <li><a class="sponsor-pgross" href="http://www.pgross.se/">P Gross</a></li>

                    <li><a class="sponsor-skane" href="http://www.skane.se/">Region Skåne</a></li>
                </ul>
            </div>
        </div>
    </div> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/js/output.js"></script>
<script src="/js/tbd.js"></script>
</body>
</html>