<!DOCTYPE html>
<html dir="ltr" lang="en-US"> 
<head>
    <meta charset="UTF-8" />
    <title>{% if page.title %}{{ page.title }} — {% endif %}TBD</title>
    <!-- CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
<!--     <link rel="stylesheet" href="/css/media.css" media="(max-width : 1024px)">-->

<!--[if lt IE 9]>
    <style type="text/css">
        #container {display:none;}
    </style>
<![endif]-->

 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28196480-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body id="body">
    <!--[if lt IE 9]><h1 style="margin:50px; color:#222; font-size:20px;">Hi there! This site is not for people with old web browsers. Please try again.</h1><![endif]-->

    <div id="container" class="table h100p w100p">
        <div class="cell w100p">
            <div class="mA w80p maxW800 br5 pt1 pb1 br1 b0a25 bs1 ">
                <header class="br5500 ml1 mr1">
                    <div class="bE5 br4400 tac">
                        <h1 id="terminalHeading" class="p1 pt4 pb3">{% if page.title %} {{ page.title }} — {% endif %} TBD<!--  — 86x24 --></h1>
                    </div>
                    <div class="h1 b6A br4400"></div>
                </header>
                <div class="b0a80 br0044 ml1 mr1">
                <!-- Add pr3 to get webkit scroll bar padding correct, can't be used in moz -->
                    <article id="terminal" class="oys h500 br0044 pa10 pt0">
                        <hgroup class="mt10">
                            <h1>TBD</h1>
                            <h2>Solve Real Problems, Win Real Prizes</h2>
                            <h3>Feb 10-12, 2012, Djäkne Kaffebar, Malmö</h3>
                        </hgroup>

                        <p class="mt10">t-b-d.org:~ home$ help</p>
                        <nav>
                            <ol class="table">
                                <!-- <li><a href="/">home</a></li> -->
                                <!-- <li><a href="/location/">location</a></li> -->
                                <!-- <li class="row"><a id="manifesto" class="cell pr40" href="/manifesto/">manifesto</a><p class="cell">get registration information and sign up</p></li> -->

                                <li class="row"><a id="hackathon" class="cell pr40" href="/hackathon/">hackathon</a><p class="cell">get details for the event</p></li>
                                <li class="row"><a id="program" class="cell pr40" href="/program/">program</a><p class="cell">get the schedule of the event</p></li>
                                <li class="row"><a id="register" class="cell pr40" href="/register/">register</a><p class="cell">get registration information and sign up</p></li>
                                <li class="row"><a id="sponsors" class="cell pr40" href="/sponsors/">sponsors</a><p class="cell">get a list of sponsors who made the event possible</p></li>
                                <li class="row"><a id="crew" class="cell pr40" href="/crew/">crew</a><p class="cell">get a list of event hosts and facilitators</p></li>
                                <li class="row"><a id="help" class="cell pr40" href="/help/">help</a><p class="cell">get list of commands</p></li>
                                <!-- <li><a id="contact" href="/contact/">contact</a></li> -->
                            </ol>
                        </nav>
                        {{ content }}
                        <div id="output"></div>
                        
                        <div>
                            <label id="commandInputLabel" class="ib" for="commandInput">t-b-d.org:~ {{ page.title }}$</label> <input id="commandInput" class="" type="text" autofocus>
                        </div>
                    </article>
<!--                <div class="h4 br0044 b0a80 ml1 mr1">
                        <div class="fr h100p" style="width: 10px; background:magenta"></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>                    
<!--    
    <footer>
        <ul>
            <li><a class="sponsor-menmo" href="#">Sponsor 1</a></li>
            <li><a class="sponsor" href="#">Sponsor 2</a></li>
            <li><a class="sponsor" href="#">Sponsor 3</a></li>
            <li><a class="sponsor" href="#">Sponsor 4</a></li>
        </ul>
    </footer>
 -->

<script src="/js/output.js"></script>
<script src="/js/tbd.js"></script>
</body>
</html>