/*
 * This is mess right now, sorry about that, will clean it up soon.
 * /Fredrik
 *
 *
 *
*/

header, footer, nav, section, article { display: block; }

body {
	margin:0;
	font-family: 'DejaVuSansMonoBook';
	color:#fff;
	font-size:14px;
	background:#7b8a9b;
}


.header h1 {
	font:13px 'DejaVuSansMonoBook', Monaco, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	color:#626262;
	text-shadow:0 1px 0 #fff;
	text-align:center;
	padding-top:4px;
}

h1,h2,h3,h4,h5,h6{
	font-size:14px;
	margin:0;
	padding:0;
}

a {
	color:#cacaff;
}




/************ Dimensions ************/

.terminal {
	/*background:#fff;*/
	/*background:rgba(255,255,255,.24);*/
	background:#000;
	background:#6a6a6a;
	width:960px;
	width:80%;
	height:100%;
	margin:100px auto;
	/*box-shadow:0 0 1px red inset;*/
	padding:0 1px;
	max-width:960px;
}



.terminalInner {
	/*background:#fff;*/
	background:#000;
	background: rgba(0,0,0,.80);
	/*background:rgba(0,0,0,.59);*/
/*	width:80%;
	height:100%;
	margin:100px auto;*/
	/*box-shadow:0 0 3px rgba(0,0,0,.40);*/
	padding:20px;
	/*border-radius:3px;*/

}

/************ header************/

.header {
	position:fixed;
	top:0;
	width:100%;	
	height:100px;
	min-height:100px;
	background:#7b8a9b;
	z-index:32;
	}

.header > header{
	height:76px;

}

.terminalTopOuter {
	width:80%;
	height:23px;
	background:rgba(0,0,0,.25);
	margin:0 auto;
	border-radius:5px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	padding:1px 1px 0;
	max-width:960px;
}

.terminalTopInnerTop {
	height:22px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	/*box-shadow:0 1px 0 rgba(255,255,255,.23) inset;
	*/
	background-color: #e5e5e5;
	background-image: -webkit-linear-gradient(90deg , #b2b2b2 0%, #e5e5e5 100%);
	background-image: -moz-linear-gradient(90deg , #b2b2b2 0%, #e5e5e5 100%);
	background-image: -o-linear-gradient(90deg , #b2b2b2 0%, #e5e5e5 100%);
	background-image: -ms-linear-gradient(90deg , #b2b2b2 0%, #e5e5e5 100%);
	background-image: linear-gradient(90deg , #b2b2b2 0%, #e5e5e5 100%);
}

.terminalTopInnerBottom {
	height:1px;
	background:#6a6a6a;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	/*box-shadow:0 1px 0 rgba(255,255,255,.23) inset;
	*/
}

.terminalBottomOuter {
	width:80%;
	height:4px;
	/*margin:0 auto;*/
	/*position: relative;*/
	/*box-shadow:0 -1px 0 rgba(255,255,255,.23) inset;*/
	background:rgba(0,0,0,.25);
	margin:0 auto;
	border-radius:5px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	padding:0 1px 1px;
	/*position: relative;*/
	/*box-shadow:0 1px 0 rgba(255,255,255,.23) inset;*/
	max-width:960px;
}

.terminalBottomInner {
	height:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	background: rgba(0,0,0,.80);
}

.terminalBottomRightCorner {
	position: absolute;
	right:-5px;
	width:5px;
	height:5px;
	background:rgba(255,255,255,.24);
	border-bottom-right-radius:5px;
	box-shadow:-1px -1px 0 rgba(255,255,255,.23) inset;
}

.terminalBottomLeftCorner {
	position: absolute;
	left:-5px;
	width:5px;
	height:5px;
	background:rgba(255,255,255,.24);
	border-bottom-left-radius:5px;
	box-shadow:1px -1px 0 rgba(255,255,255,.23) inset;
}

.terminalLeftWrapper {
	position:fixed;
	width:10%;
	top:0;
	/*background:#004343;*/
	height:100%;
	z-index:1;
	overflow:hidden;
	background:#7b8a9b;
}

.terminalRightWrapper{
	position:fixed;
	top:0;
	right:0;
	width:10%;
	/*background:#004343;*/
	height:100%;
	z-index:1;
	background:#7b8a9b;
}



/************ footer ************/


.footer {
	position:fixed;
	bottom:0;
	width:100%;	
	height:100px;
	min-height:100px;
	/*background:lime;*/
	background:#085563;
	background:#7b8a9b;
	z-index:33;
}

.footer-content {
	margin: 0 auto;
} 

footer {
	display:table;
	margin:0 auto;
	width:100%;
	padding:0 10%;
	max-width:960px;
}
footer ul {
	display:table-row;
	list-style-type:none;	
	margin:0;
	padding:0;
	/*width:100%;*/
}

footer li {
	display:table-cell;
	min-width:100px;
	width:25%;
	height:80px;
	vertical-align:middle;
	/*background:green;*/
}

footer a {
	margin:0 auto;
	display:block;
	width:141px;
	height:43px;
	overflow:hidden;
	text-indent:-999px;

}

.sponsor-menmo {
	border:4px solid rgba(255,255,255,.9);
	border-radius:4px;
	padding:4px;
	background:rgba(255,255,255,.9) url(../images/sponsor-menmo.png) no-repeat center center;
}


@media (max-width:1024px) {
	body {
		-webkit-text-size-adjust: none;
	}
}	

@media (max-width:600px) {

	.header, .footer{
		height:34px;
		min-height:34px;
	}

	.footer{
		height:24px;
		min-height:24px;
	}

/*	.terminalTopOuter {
		height:;		
	}*/

	.header h1 {
		
	}

	.terminalTopOuter {
		margin-top:10px;
	}

	.terminalTopInnerTop {
		
	}

	 .header header, .footer footer{display:none}

	.terminal {
		margin:34px auto 24px;
	}

	.terminal, .terminalTopOuter, .terminalBottomOuter {
		width:94%;
	}

	.terminalLeftWrapper, .terminalRightWrapper {
		width:3%;
	}
}